<!DOCTYPE html>
<html ng-app="puddingApp">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<title>pudding ave.</title>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/hi.js"></script>
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
<!-- 	<link href="bootstrap/css/bootstrap.css" rel="stylesheet"> -->

	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<!--	<script type="text/javascript" src="js/pagination/jquery.simplePagination.js"></script>
	<link type="text/css" rel="stylesheet" href="js/pagination/simplePagination.css"/> -->
	<link href="css/app.css" rel="stylesheet">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</head>

<body class="bg">
	<div>
		<div id="center">
			<div class>
				<div class="container">
<!--      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">PUDDING AVE</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Location</a></li>
        </ul>
      </div> -->

   </div>
  </div> 

	<!-- Header -->
	<div class="header welcome">
		<img src="images/logo3.png" class="logo">
		<p>
			<a class="button" role="button" href="#pudding-order">Place an Order</a>
		</p>
	</div>

<!-- Testemonial -->
	<div id="testemonial">
		<div class="block">
			<div class="photo">
				<img src="images/100x100.gif"/>
			</div>
			<div class="blockquote">
				<p>
					My friend and I were passing by and decided to try out the pudding here. It was <strong>love at first bite</strong>. I have been here twice already this week and I don't even like pudding. I hate myself so much.
				</p>
				<small>-- Lorem Ipsum, Yelp Extraordinaire</small>
			</div>
			<div class='clearfix'></div>
  	</div>
  </div>
<div class="clearfix"></div>

<!-- <div class="order-mobile">
<span class="order-back-mobile"><i class="fa fa-shopping-cart"></i> Place an Order Below</span>
</div> -->

<!-- Different types of pudding-->

<div ng-controller="FlavorCtrl as flavors" id="pudding-order">
	<div class="mobile-pudding">
		<div>
			<img src="images/flavor-banana.png" height="120" width="120"/><img src="images/flavor-berry.png" height="120" width="120"/><img src="images/flavor-strawberry.png" height="120" width="120"/>
		</div>
	</div>
	<div class="row">
		<div class="flavor strawberry">
			<div ng-click="cart.addRemove('Strawberry');" class="flavor-click">
				<h4>Strawberry</h4>
				<p>Amazing flavors from South Africa and beyond. Definitely not gluten-free but you can make an exception.</p>
				<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
			</div>
		</div>
		<div class="flavor mint">
			<div ng-click="cart.addRemove('Mint');" class="flavor-click">
				<h4>Mint</h4>
				<p>Minty fresh fresh fresh! It is as minty as can be and definitely worth the extra 30 minutes on the treadmill come Monday.</p>
				<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
			</div>
		</div>
		<div class="pudding-cup">
			<div>
				<img src="images/pudding.png" class="pudding-img"/>
			</div>
		</div>
		<div class="flavor hazelnut">
			<div ng-click="cart.addRemove('Hazelnut');" class="flavor-click">
				<h4>Hazelnut</h4>
				<p>Our hazelnut is better than your hazelnut. This is Hailin's favorite flavor. It can be yours too.. if you believe.</p>
				<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
			</div>
		</div>	
		<div class="clearfix"></div>
	</div>

	<div class="row">
		<div class="flavor orange">
			<div ng-click="cart.addRemove('Orange');" class="flavor-click">
				<h4>Original Orange</h4>
				<p>The Orange that started it all. Don't know what to get for your childhood friend's wedding gift? This will do.</p>
				<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
				</div>
		</div>
		<div class="flavor berry">
			<div ng-click="cart.addRemove('Berry');" class="flavor-click">
				<h4>Mixed Berry</h4>
				<p>Blueberries, raspberries, cranberries, oh my! Our pudding is berry jam packed. Watch out for all that flavor!</p>
				<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
			</div>
		</div>
		<div class="flavor banana">
			<div ng-click="cart.addRemove('Banana');" class="flavor-click">
				<h4>Banana</h4>
				<p>We are bananas for this flavor, and we think you will be too! How did our scientists come up with something so a-peel-ing?!</p>
				<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span><br></p>
			</div>
		</div>
		<div class="cart">
			<div class='box'>
				<h4>Your Pudding Cart</h4>
<!-- 				<p>{{cart}}</p> -->
				<div ng-repeat="flavor in cart track by $index">
					<div>
						<span class="flavor-name no-margin">{{flavor.name}} x <input type="text" name="{{flavor.name}}" size="1" ng-model="flavor.quantity"></span>
						<span class="flavor-price no-margin">{{flavor.price * flavor.quantity | currency }}</span>
						<div class="clearfix"></div>
					</div>
				</div>
				<div ng-if="cart.length > 0">
					<hr class="divider">
					<span class="cart-total-text no-margin">Total:</span>
					<span class="cart-total no-margin">{{ total() | currency}}</span>
					<div class='clearfix'></div>
				</div>
				<div ng-if="cart.length === 0">
					<center>no pudding yet <i class="fa fa-frown-o"></i></center>
				</div>

			</div>
		</div>	
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
		<div class="mobile-pudding">
		<div>
			<img src="images/flavor-orange.png" height="120" width="120"/><img src="images/flavor-mint.png" height="120" width="120"/><img src="images/flavor-hazelnut.png" height="120" width="120"/>
		</div>
	</div>
</div>

<!-- PAGE one -->
<!-- <div id="flavors1">
<div class="boxed chocolate" data-price="1">
	<h4 class="boxTitle">Chocolate</h4>
	<p>This chocolate pudding is amazing. It is our most popular flavor. Organic and 80% fat free!</p>
</div>

<div class="boxed stawberry" data-price="2">
	<h4 class="boxTitle">Strawberry</h4>
	<p>Ah, our classic flavor. We know you love it. Try it with some breadcrumbs and caramel syrup for some major flavor.</p>
</div>

<div class="boxed orange" data-price="3">
	<h4 class="boxTitle">Orange</h4>
	<p>Lots of vitamins. Try our newest flavor! It tastes like real oranges but it's just artifical sweetner.</p>
</div>

<div class="boxed cookie" data-price="4">
	<h4 class="boxTitle">Cookie</h4>
	<p>Why the heck didn't we think of this earlier? See for yourself why Yelpers are going CRAZY for our newest flavor.</p>
</div>

<div class="boxed mint" data-price="5">
	<h4 class="boxTitle">Mint</h4>
	<p>It's like after you brush your teeth. Yay it's soo minty, I can't believe it!</p>
</div>

<div class="boxed vodka" data-price="6">
	<h4 class="boxTitle">Vodka Soda</h4>
	<p>Don't get wasted, get pudding. It's 5 o clock somewhere. </p>
</div>

<div class="boxed lemon" data-price="7">
	<h4 class="boxTitle">Lemony Delight</h4>
	<p>You know what's better than pudding? Lemon-flavored pudding.</p>
</div>

<div class="boxed vanilla" data-price="8">
	<h4 class="boxTitle">Vanilla</h4>
	<p>Vanilla, Vanilla. Wherefore art thou Vanilla? Get this for the special someone in your life.</p>
</div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




	<p>
		Short loin tail salami, shank andouille short ribs flank prosciutto leberkas tenderloin chuck shankle kielbasa fatback. Ball tip rump meatloaf, drumstick frankfurter tongue jowl ham hock turducken. Shoulder shank chicken, ribeye shankle venison salami andouille pork tenderloin. Pork chop t-bone flank, pig chuck meatball cow ground round meatloaf shank bacon hamburger ribeye. Pig salami pastrami, shoulder beef ribs boudin biltong drumstick. Tail pig t-bone, capicola bresaola ball tip sausage jowl flank rump kielbasa chicken speck. Shoulder turkey spare ribs sausage corned beef ground round filet mignon tenderloin tail.
	</p>
	
	<p class="blah">
		Boudin shank ham hock beef, jowl brisket pork loin jerky kielbasa spare ribs andouille cow flank ground round. Jowl bacon chuck speck, swine kielbasa short loin tenderloin sausage. Pork chop short loin swine, cow tri-tip kielbasa capicola. Chicken bresaola pork chop drumstick chuck, sausage short ribs flank sirloin hamburger. Cow frankfurter chicken prosciutto sirloin ball tip, tail beef strip steak swine. Speck sirloin turducken pancetta short loin tenderloin.
	</p> -->

<!-- ORDER FORM -->
<!-- 
	<h1 class="orderTitle"> pudding cart </h1>
	<tbody>
		<table class="table table-hover" id="theOrder">     
		<col span="1" style="width: 80%;">
		<col span="1" style="width: 10%;">
		<col span="1" style="width: 10%;">
		<tr>
			<th><font color=orange>Name</font></th>
			<th><font color=orange>Quantity</font></th>		
			<th><font color=orange>Price</font></th>
		</tr>
		<tr class="orderItem default" data-price=0>
			<td>Free Shipping</td>
			<td><input type="text" class="form-control" value="1"></td> 
			<td class="price">0</td>
		</tr>
		<tr class="orderItem default" data-price=15>
			<td>Pudding T-Shirts</td>
			<td><input type="text" class="form-control" value="1"></td> 
			<td class="price">15</td>
		</tr>
		<tr class="orderItem default" data-price=10>
			<td>Same-day Delivery</td>
			<td><input type="text" class="form-control" value="1" min=0 max=1></td>
			<td class="price">10</td> 
		</tr>
</table></tbody>
 -->
<!-- ABOUT -->
  <div id="example"></div>

	<div class="footer" id="about">
	<h2 class="puddinghi">About Us</h2>
	<p>Nisha had always dreamed of opening a pudding shop in New York City. Finally, her dream has come true, thanks to pudding lovers.<span class="glyphicon glyphicon-heart-empty"></span></p>
	</div>

<div id="aboutUs">
<p>Boudin shank ham hock beef, jowl brisket pork loin jerky kielbasa spare ribs andouille cow flank ground round. Jowl bacon chuck speck, swine kielbasa short loin tenderloin sausage. Pork chop short loin swine, cow tri-tip kielbasa capicola. Chicken bresaola pork chop drumstick chuck, sausage short ribs flank sirloin hamburger. Cow frankfurter chicken prosciutto sirloin ball tip, tail beef strip steak swine. Speck sirloin turducken pancetta short loin tenderloin.
  
</p>
</div>

<div class='info'>
	<div class='map'>
		<img src="images/map.png"/>
	</div>
	<div class='more-info'>
		<div>
			<p class="bold">Phone:</p>
			<p>(718) 223-2345</p>
			<p class="bold">Hours: </p>
			<p>Monday to Thursday 9:00 - 18:00 <br> Friday to Sunday 9:00 - 20:00</p>
			<p class="bold">Trains:</p>
			<p><img src='images/trains.png'/></p>
		</div>
	</div>
	<div class='contact-form'>
		<div>
			<p>Question, Comments, Concerns?</p>
			<p>We're here to help.</p>
<div ng-controller="ExampleController">
  <form novalidate class="css-form">
    Name:
      <input type="text" ng-model="user.name" required /><br />
    E-mail: <input type="email" ng-model="user.email" required /><br />
    Comments:
      <textarea rows="4" cols="18" ng-model"user.comment" required></textarea><br />
    <button ng-click="reset()">Reset</button>
    <button ng-click="update(user)">Send</button>
  </form>
</div>

		</div>
	</div>
	<div class='clearfix'></div>
</div>

	


  
</div>  

		</div>
	</div>




</body>

</html>
