<!DOCTYPE html>
<html ng-app="puddingApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>pudding ave.</title>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/hi.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>

	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	<link href="css/app.css" rel="stylesheet">

</head>

<body class="bg">
<div>
<div id="center">

	<!-- Header -->
	<div class="header welcome">
		<img src="images/logo3.png" class="logo">
		<p><a class="button" role="button" href="#pudding-order">Place an Order</a></p>
	</div>

	<!-- Testemonial -->
	<div id="testemonial">
		<div class="block">
			<div class="photo">
				<img src="images/100x100.gif"/>
			</div>
			<div class="blockquote">
				<p>
					My friend and I were passing by and decided to try out the pudding here. It was <span class="highlight">love at first bite</span>. I have been here twice already this week and I don't even like pudding. I hate myself so much.
				</p>
				<small><i>-- Jane Nibbles, Yelp Extraordinaire</i></small>
			</div>
			<div class='clearfix'></div>
  	</div>
  </div>
	<div class="clearfix"></div>


<!-- Pudding Flavors-->

	<div ng-controller="FlavorCtrl as flavors" id="pudding-order">
		<div class="mobile-pudding">
			<div>
				<img src="images/flavor-banana.png" height="100" width="100"/><img src="images/flavor-berry.png" height="100" width="100"/><img src="images/flavor-strawberry.png" height="100" width="100"/>
			</div>
		</div>

		<div class="row">
			<div class="flavor strawberry">
				<div ng-click="cart.addRemove('Strawberry');" class="flavor-click">
					<h4>Strawberry</h4>
					<p>Amazing flavors from South Africa and beyond. Definitely not gluten-free but you can make an exception.</p>
					<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
				</div>
			</div>
			<div class="flavor mint">
				<div ng-click="cart.addRemove('Mint');" class="flavor-click">
					<h4>Mint</h4>
					<p>Minty fresh fresh fresh! It is as minty as can be and definitely worth the extra 30 minutes on the treadmill come Monday.</p>
					<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
				</div>
			</div>
			<div class="pudding-cup">
				<div>
					<img src="images/pudding.png" class="pudding-img"/>
				</div>
			</div>
			<div class="flavor hazelnut">
				<div ng-click="cart.addRemove('Hazelnut');" class="flavor-click">
					<h4>Hazelnut</h4>
					<p>Our hazelnut is better than your hazelnut. This is Hailin's favorite flavor. It can be yours too.. if you believe.</p>
					<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
				</div>
			</div>	
			<div class="clearfix"></div>
		</div>

		<div class="row">
			<div class="flavor orange">
				<div ng-click="cart.addRemove('Orange');" class="flavor-click">
					<h4>Original Orange</h4>
					<p>The Orange that started it all. Don't know what to get for your childhood friend's wedding gift? This will do.</p>
					<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
				</div>
			</div>
			<div class="flavor berry">
				<div ng-click="cart.addRemove('Berry');" class="flavor-click">
					<h4>Mixed Berry</h4>
					<p>Blueberries, raspberries, cranberries, oh my! Our pudding is berry jam packed. Watch out for all that flavor!</p>
					<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span></p>
				</div>
			</div>
			<div class="flavor banana">
				<div ng-click="cart.addRemove('Banana');" class="flavor-click">
					<h4>Banana</h4>
					<p>We are bananas for this flavor, and we think you will be too! How did our scientists come up with something so a-peel-ing?!</p>
					<p class="gimme"><span class="gimme-highlight"><i class="fa fa-shopping-cart"></i> added to cart</span><br></p>
				</div>
			</div>
			<div class="cart">
				<div class='box'>
					<h4>Pudding Cart</h4>
					<div ng-repeat="flavor in cart track by $index">
						<div>
							<span class="flavor-name no-margin">{{flavor.name}} x <input type="number" name="{{flavor.name}}" size="1" ng-model="flavor.quantity" class="quantity" min="1"></span>
							<span class="flavor-price no-margin">{{flavor.price * flavor.quantity | currency }}</span>
							<div class="clearfix"></div>
						</div>
					</div>
					<div ng-if="cart.length > 0" class="cart-margin">
						<hr class="divider">
						<span class="cart-total-text no-margin">Total:</span>
						<span class="cart-total no-margin">{{ total() | currency}}</span>
						<div class='clearfix'></div><br>
						<center><a href="" ng-click="checkout()" class="button checkout-button" role="button">Checkout</a></center>
					</div>
					<div ng-if="cart.length === 0">
						<center>no pudding yet <i class="fa fa-frown-o"></i></center>
					</div>
				</div>
			</div>	
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>

		<div class="mobile-pudding">
			<div>
				<img src="images/flavor-orange.png" height="100" width="100"/><img src="images/flavor-mint.png" height="100" width="100"/><img src="images/flavor-hazelnut.png" height="100" width="100"/>
			</div>
		</div>

	</div>

<!-- ABOUT -->

	<div class="footer" id="about">
		<h2 class="puddinghi">About Us</h2>
		<p>
			Nisha had always dreamt of opening a pudding shop. Thanks to you and other pudding lovers, her dream has come true. <i class="fa fa-heart-o"></i>
		</p>
	</div>

	<div class="aboutUs">
		<p>
			Our pudding is made fresh daily in our secret pudding laboratory located beneath the streets of lovely Greenwich Village. We take great pride in concocting our delectable desserts from <span class="highlight">high quality, fair trade and organic</span> ingredients, not that you expected anything less. Our grass-fed cows provide the signature creamy and rich taste that you have come to crave. No dyes, no preservatives - just natural, handcrafted pudding.
		</p>
	</div>

	<div class='info'>

		<div class='map'>
			<div class="map-container">
<!-- 				<img src="images/map2.png"/> -->
<img src="http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:red%7Clabel:C%7C40.718217,-73.998284"/>
			</div>
		</div>

		<div class='more-info'>
			<div class="extra-info">
				<p class="bold"><br>Address</p>
				<p>172 Waverly Pl. New York, NY 10014</p>
				<p class="bold">Phone:</p>
				<p>(718) 223-2345</p>
				<p class="bold">Hours: </p>
				<p><span class="hours">Tuesday to Sunday</span><span class="hours">9:00 - 18:00</span></p>
				<p class="bold">Getting Here:</p>
				<p><img src='images/trains.png'/> W 4th St.<!-- <br><img src="images/trains2.png"> Christopher St.</p> -->
			</div>
		</div>

		<div class='contact-form'>
			<div>
				<p class="questions">Question, Comments, Concerns?
				<br>Tell us your favorite flavor. Talk dirty to us.</p>
				<!-- Desktop Version -->
				<div ng-controller="FormController" class="desktop-form">
				  <form novalidate class="css-form" name="form" id="form">
				    Name:
				      <input type="text" name="name" ng-model="data.name" class="comment-box" required /><br />
				    E-mail: <input type="email" name="email" ng-model="data.email" class="comment-box" required /><br />
				    Comments:
				      <textarea rows="3" name="comment" ng-model="data.comment" class="comment-box" required></textarea><br />

				    <button ng-click="send()">Send</button>
				    <button ng-click="reset()">Reset</button>
				  </form>
				</div>
				<!-- Mobile Version -->
				<div ng-controller="FormController" class="mobile-form">
				  <form novalidate class="css-form">
				    Name:<br>
				      <input type="text" ng-model="user.name" size="40" required /><br />
				    E-mail: <br><input type="email" ng-model="user.email" size="40" required /><br />
				    Comments:<br>
				      <textarea rows="5" class="comment-box" ng-model"user.comment" required></textarea><br />
				    <button ng-click="setPristine()">Reset</button>
				    <button ng-click="send()">Send</button>
				  </form>
				</div>
			</div>
		</div>
		<div class='clearfix'></div>

	</div>

	


  
</div>  
</div>




</body>

</html>
